@import "/src/theme/scss/fonts.scss";
@import "/src/theme/scss/colors.scss";

.root {
  width: 100%;
  height: 80px;

  position: sticky;
  top: 0;
  z-index: 4;

  color: $neutral-p90;
  // background-color: rgba(30, 27, 22, 0.6);

  .container {
    width: 100%;
    height: 100%;

    padding: 20px;

    // background: linear-gradient(
    //   180deg,
    //   rgba(222, 102, 88, 0.1) 0%,
    //   rgba(222, 102, 88, 0.1) 100%
    // );
  }

  .navBarHeader {
    height: 100%;
  }

  .version {
    font-family: "Inter";
    font-weight: 700;
    font-size: 12px;
  }

  .windowControlBtn {
    width: 30px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: $neutral-p90;

    &:hover {
      color: $deepYellow-p80;
      background: none;
    }
  }

  .windowControlCloseBtn {
    color: $neutral-p90;

    &:hover {
      background-color: $error-p50;
    }
  }
}

.gradient {
  width: 100%;
  height: 80px;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  background: linear-gradient(
    180deg,
    rgba(222, 102, 88, 1) 0%,
    rgba(222, 102, 88, 0.4) 100%
  );
}
