@import "/src/theme/scss/fonts.scss";
@import "/src/theme/scss/colors.scss";

.root {
  background-color: $neutral-p10;

  .navBarHeader {
    display: flex;
    padding: 15px;

    .version {
      font-family: "Inter";
      font-weight: 700;
      font-size: 12px;
    }
  }

  .activeMenuLinks {
    width: 100%;
    height: 50px;

    display: flex;
    align-items: center;

    font-family: "Inter";
    font-weight: 700;
    font-size: 12px;
    text-decoration: none;

    margin-bottom: 5px;
    border-radius: 4px;

    color: $neutral-p90;
    background-color: $neutral-p20;

    @at-root .light#{&} {
      color: $neutral-p10;
      background-color: $neutral-p99;
    }
  }
  .menuLinks {
    width: 100%;
    height: 50px;

    display: flex;
    align-items: center;

    font-family: "Inter";
    font-weight: 700;
    font-size: 12px;
    text-decoration: none;

    margin-bottom: 5px;
    border-radius: 4px;

    color: $neutral-p90;

    @at-root .light#{&} {
      color: $neutral-p10;
    }

    &:hover {
      background-color: $neutral-p20;

      @at-root .light#{&} {
        background-color: $neutral-p99;
      }
    }
  }
  .linkLabel {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
}
