$primaryYellow-p0: #000000;
$primaryYellow-p5: #1a1400;
$primaryYellow-p10: #332900;
$primaryYellow-p15: #4d3d00;
$primaryYellow-p20: #665200;
$primaryYellow-p25: #806600;
$primaryYellow-p30: #997a00;
$primaryYellow-p35: #b38f00;
$primaryYellow-p40: #cca300;
$primaryYellow-p45: #e6b800;
$primaryYellow-p50: #ffd201;
$primaryYellow-p55: #ffd633;
$primaryYellow-p60: #ffdb4d;
$primaryYellow-p65: #ffe066;
$primaryYellow-p70: #ffe680;
$primaryYellow-p75: #ffeb99;
$primaryYellow-p80: #fff0b3;
$primaryYellow-p90: #fff5cc;
$primaryYellow-p95: #fffae5;
$primaryYellow-p99: #fffdf5;
$primaryYellow-p100: #ffffff;

$secondaryPurple-p0: #000000;
$secondaryPurple-p5: #0a001a;
$secondaryPurple-p10: #140033;
$secondaryPurple-p15: #1f004d;
$secondaryPurple-p20: #290066;
$secondaryPurple-p25: #330080;
$secondaryPurple-p30: #3d0099;
$secondaryPurple-p35: #4700b3;
$secondaryPurple-p40: #5200cc;
$secondaryPurple-p45: #5c00e6;
$secondaryPurple-p50: #7301fe;
$secondaryPurple-p55: #8533ff;
$secondaryPurple-p60: #944dff;
$secondaryPurple-p65: #a366ff;
$secondaryPurple-p70: #b380ff;
$secondaryPurple-p75: #c299ff;
$secondaryPurple-p80: #d2b3ff;
$secondaryPurple-p90: #e1ccff;
$secondaryPurple-p95: #f0e5ff;
$secondaryPurple-p99: #f9f5ff;
$secondaryPurple-p100: #ffffff;

$tertiaryGreen-p0: #000000;
$tertiaryGreen-p5: #0d1a00;
$tertiaryGreen-p10: #1a3300;
$tertiaryGreen-p15: #284d00;
$tertiaryGreen-p20: #356600;
$tertiaryGreen-p25: #428000;
$tertiaryGreen-p30: #4f9900;
$tertiaryGreen-p35: #5cb300;
$tertiaryGreen-p40: #69cc00;
$tertiaryGreen-p45: #77e600;
$tertiaryGreen-p50: #8bfe01;
$tertiaryGreen-p55: #9cff33;
$tertiaryGreen-p60: #a9ff4d;
$tertiaryGreen-p65: #b5ff66;
$tertiaryGreen-p70: #c1ff80;
$tertiaryGreen-p75: #ceff99;
$tertiaryGreen-p80: #daffb3;
$tertiaryGreen-p90: #e6ffcc;
$tertiaryGreen-p95: #f2ffe5;
$tertiaryGreen-p99: #fafff5;
$tertiaryGreen-p100: #ffffff;

$error-p0: #000000;
$error-p5: #160303;
$error-p10: #2d0606;
$error-p15: #430909;
$error-p20: #5a0c0c;
$error-p25: #700f0f;
$error-p30: #871212;
$error-p35: #9d1515;
$error-p40: #ba1a1a;
$error-p45: #ca1c1c;
$error-p50: #e01f1f;
$error-p55: #e74b4b;
$error-p60: #ea6262;
$error-p65: #ed7878;
$error-p70: #f08f8f;
$error-p75: #f3a5a5;
$error-p80: #f6bcbc;
$error-p90: #f9d2d2;
$error-p95: #fce8e8;
$error-p99: #fef6f6;
$error-p100: #ffffff;

$neutral-p0: #000000;
$neutral-p5: #090b10;
$neutral-p10: #121621;
$neutral-p15: #1b2131;
$neutral-p20: #242e42;
$neutral-p25: #2d3752;
$neutral-p30: #364263;
$neutral-p35: #3f4d73;
$neutral-p40: #485884;
$neutral-p45: #516394;
$neutral-p50: #5b6ea4;
$neutral-p55: #7b8bb7;
$neutral-p60: #8c9ac0;
$neutral-p65: #9ca8c9;
$neutral-p70: #adb7d2;
$neutral-p75: #bdc5db;
$neutral-p80: #ced4e4;
$neutral-p90: #dee2ed;
$neutral-p95: #eff1f6;
$neutral-p99: #f8f9fb;
$neutral-p100: #ffffff;
