$deepYellow-p0: #000;
$deepYellow-p10: #231b00;
$deepYellow-p20: #3b2f00;
$deepYellow-p30: #564500;
$deepYellow-p40: #725c00;
$deepYellow-p50: #8f7500;
$deepYellow-p60: #ad8e00;
$deepYellow-p70: #cca800;
$deepYellow-p80: #ecc200;
$deepYellow-p90: #ffe07d;
$deepYellow-p95: #fff0c8;
$deepYellow-p99: #fffbff;
$deepYellow-p100: #fff;

$shallowOrange-p0: #000;
$shallowOrange-p10: #2b1700;
$shallowOrange-p20: #472a00;
$shallowOrange-p30: #663e00;
$shallowOrange-p40: #865300;
$shallowOrange-p50: #a86900;
$shallowOrange-p60: #cb8000;
$shallowOrange-p70: #f09700;
$shallowOrange-p80: #ffb963;
$shallowOrange-p90: #ffddb9;
$shallowOrange-p95: #ffeedf;
$shallowOrange-p99: #fffbff;
$shallowOrange-p100: #fff;

$brightYellow-p0: #000;
$brightYellow-p10: #201c00;
$brightYellow-p20: #373100;
$brightYellow-p30: #504700;
$brightYellow-p40: #6a5f00;
$brightYellow-p50: #867800;
$brightYellow-p60: #a29200;
$brightYellow-p70: #c0ac00;
$brightYellow-p80: #ddc818;
$brightYellow-p90: #fbe43b;
$brightYellow-p95: #fff2a9;
$brightYellow-p99: #fffbff;
$brightYellow-p100: #fff;

$error-p0: #000;
$error-p10: #410002;
$error-p20: #690005;
$error-p30: #93000a;
$error-p40: #ba1a1a;
$error-p50: #de3730;
$error-p60: #ff5449;
$error-p70: #ff897d;
$error-p80: #ffb4ab;
$error-p90: #ffdad6;
$error-p95: #ffedea;
$error-p99: #fffbff;
$error-p100: #fff;

$neutral-p0: #000;
$neutral-p10: #1e1b16;
$neutral-p20: #33302a;
$neutral-p30: #4a4640;
$neutral-p40: #625e57;
$neutral-p50: #7b776f;
$neutral-p60: #959088;
$neutral-p70: #b0aba2;
$neutral-p80: #cbc6bd;
$neutral-p90: #e8e2d9;
$neutral-p95: #f6f0e7;
$neutral-p99: #fffbff;
$neutral-p100: #fff;

$neutralVariant-p0: #000;
$neutralVariant-p10: #1f1b10;
$neutralVariant-p20: #343024;
$neutralVariant-p30: #4b4639;
$neutralVariant-p40: #645e50;
$neutralVariant-p50: #7d7767;
$neutralVariant-p60: #979080;
$neutralVariant-p70: #b2ab9a;
$neutralVariant-p80: #cec6b4;
$neutralVariant-p90: #ebe2cf;
$neutralVariant-p95: #f9f0dd;
$neutralVariant-p99: #fffbff;
$neutralVariant-p100: #fff;
