@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.container {
  width: 100%;
  height: 100%;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  width: 100%;
  height: 10%;

  font-family: "Inter";

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.progress {
  font-weight: 600;
  font-size: 15px;

  color: #e6ffcc;
}
.disclaimer {
  font-weight: 500;
  font-size: 15px;

  color: #b4c4ff;
}
